<li class="list-group-item">


    {{ product.name }}

    <form method="POST" action="/products/{{ product.id }}?_method=DELETE" style="display:inline" >
        <button type="submit" class="btn btn-danger pull-right" style="margin-right: 10px">Delete</button>
    </form>

    <form method="GET" action="/products/{{ product.id }}/edit/" style="display:inline">
        <button type="submit" class="btn btn-default pull-right" style="margin-right: 10px">Edit</button>
    </form>
    <br style="clear:both">
</li>

